body {
  margin: 0;
  padding: 0;
  background-color: rgb(26, 182, 26) !important;
}

.all {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  #app {
    .content {
        
        .box1{
            color: white;
            background-color: green;
        }
        .box2{
            background-color: white;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
  }
}
