<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


</head>

<body>

    <div id="app">
        <section>
            <div class="container">
                <div class="title text-center">
                    <img :src="src" alt="">
                    <h1 class="bg-dark text-white">{{title}}</h1>
                    <div class="description d-flex text-white justify-content-center">
                        <!-- 如果index!=0 顯示 -->
                        <button v-if="index > 0" class="btn btn-danger" @click="changeIndex(-1)">-</button>

                        <div class="four bg-dark">
                            <span>{{index+1}}</span>
                        </div>
                        <div class="menu bg-warning">
                            <span>{{today.type}}</span>
                        </div>
                        <div class="el">
                            <a :href="today.link">
                            <span>{{today.title}}</span>
                            </a>
                        </div>
                        <!-- 如果index < total-1 顯示-->
                        <button v-if="index < total-1" class="btn btn-danger" @click="changeIndex(1)">+</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>


<script>

let data = {
    src:'./img/下載.jpg',
    title:'vue.js 手牽手一起嗑光全家桶',
    index:0,
    menu:[
        {type:'主廚的話',title:'餐點簡介與相關說明',link:'javascript:;'},
        {type:'餐具擺盤',title:'萬用擺慈',link:'javascript:;'},
        {type:'開胃餐點',title:'資料綁定',link:'javascript:;'},
        {type:'開胃餐點',title:'古早味資料',link:'javascript:;'},
        {type:'開胃餐點',title:'清爽表單',link:'javascript:;'},
        {type:'開胃餐點',title:'使用者輸入',link:'javascript:;'},
        {type:'開胃餐點',title:'期間限定篩選',link:'javascript:;'},
        {type:'開胃餐點',title:'互動式資料表單',link:'javascript:;'},
        {type:'主廚的話',title:'天然CSS',link:'javascript:;'},
        {type:'主廚的話',title:'異國風情',link:'javascript:;'},
    ]

}

let vm = new Vue({
        el:'#app',
        data: data,
        computed:{
            today(){
                return this.menu[this.index]
            },
            total(){
                return this.menu.length 
            },
        },
        methods: {
            changeIndex(change){
                // this指整個vm
                // console.log(this.index);
                this.index = (this.index + change + this.total) % this.total;
            }
        }
    })

</script>

</html>