<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style6.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



</head>

<body>

    <div class="all d-flex justify-content-center align-items-center">
        <div id="app">
            <div class="box1 bg-white p-3">

                <!--  v-model雙向綁定 綁定資料庫裏面的type-->
                <select v-model="input.type">
                    <option >主廚的話</option>
                    <option >餐具擺盤</option>
                    <option >開胃餐點</option>
                    <option >風味沙拉</option>
                    <option >總會拼盤</option>
                    <option >用餐插曲</option>
                    <option >主廚推薦</option>
                </select>
                <input type="text" v-model.trim="input.title"
                @keyup.enter = "inputheader">
            </div>
            <div class="menu bg-white p-3">
                <div class="container">
                    <div class="row">
                        <!--  v-for="(item,index) in menu" 一筆一筆叫出menu資料 -->
                      <div class="col-6 d-flex pb-3" v-for="(item,index) in menu">
                        <span class="number bg-dark text-white">
                            {{ index+1 }}
                        </span>
                        <span class="type bg-warning">
                            {{ item.type }}
                        </span>

                        <a :href="item.link">
                            <span class="title">
                                {{ item.title }}
                            </span>
                        </a>
                      </div>
                    </div>
                  </div>

            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
    <script src="/JS/day6.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>


    <script>


    </script>
</body>

</html>